<%- include('../includes/start.ejs') %>
<link href="/css/update-password.css" rel="stylesheet">

    <main>
<div class="centerDiv d-flex justify-content-center">
    <div class="card main-card" style="width:35rem;">
      <div class="card-body">
      <div class="d-flex">
        <img src="image/verticalLogo.png" class="logo-image" alt="..." width="180px" height="180px">
       
      </div>
      <div class="form-control mt-3">
      <form class=" g-3 needs-validation" method="post" action="/update-password">
        <div class=" position-relative mt-2">
          
        </div>
        <div class=" position-relative mt-2">
          <label for="validationTooltip02" class="form-label">Current Password<span class="required-field">*</span></label>
          <input type="password" name="currentPassword"  class="form-control" id="validationTooltip02" required>
         
        </div>
        <div class=" position-relative mt-2">
          <label for="validationTooltip03" class="form-label">New Password<span class="required-field">*</span></label>
          <input type="password" name="newPassword"  class="form-control" id="validationTooltip03" required>

        </div>
        <div class=" position-relative mt-2 mb-2">
          <label for="validationTooltip03" class="form-label">Confirm New Password<span class="required-field">*</span></label>
          <input type="password" name="confirmPassword" class="form-control" id="validationTooltip03" required>

        </div>
       
        
        
        <div class="signupBtn">
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </form>
    </div>
      </div>
    </div>
</div>

   

    </main>
<%- include('../includes/end.ejs') %>
